.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar-form {
    height: 50px;
    line-height: 50px;
}

.navbar {
    margin: 0;
}

.carousel .item {
    height: auto;
}

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}

span.icon-large {
    margin-top: 20px;
}

.uniarte-icon {
    font-size: 15px;
    padding-bottom: 0px;
}